/*Style.css*/
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: black;
    color: #5757c9;
    margin: 0;
    padding: 0;
}
 .container {
    display: flex;
    flex-direction: column;
    min-width: 100vh
 }

 /*Barra lateral*/
.sidebar {
    width: 30%;
    background-image: -o-linear-gradient();
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
    padding: 20px;
    box-sizing: border-box;
}
.sidebar h2 , .sidebar h3{
    margin-top: 0;
    font-size: 24px;
    color: #5757c9;
}
.sidebar p {
    margin: 5px 0;
    font-size: 16px;
    color: #5757c9;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.skills li {
    background: #5757c9;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;

}

/*Conteúdo principal*/
.main-content {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}

.main-content h2 {
    margin-top: 0;
    font-size: 28px;
    color: #5757c9;
}
/*imgem do perfil, no canto superior direito */
.profile-picture {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    height: 150px;
}
.profile-picture img {
    border-radius: 50%; /* Deixa a imagem circular */
    border: #5757c9;
    display: block;
    margin-left: auto; /* Alinha a imagem à direita */
    
}
.cat {
  position: fixed;
  bottom: 0;
  left: 0;
  animation: walk 8s ease-in-out infinite alternate; /* vai e volta */
}

.cat img {
  width: 120px;
  
}

/* Animação */
@keyframes walk {
  0% {
     left: 0; 
     transform: scaleX(1) translateY(0); /* inverte a imagem horizontalmente */
  }
  50% {
     left: calc(50% - 60px); /* atravessa até o meio */
     transform: scaleX(-1) translateY(-5px); /* normal e levanta um pouco */
  }
  100% {
     left: calc(100% - 120px); } /* atravessa até o outro lado */
     transform: scaleX(-1) translateY(0); /* normal */
  }
  
}
a {
  color: #800ecc;
  text-decoration: none;
}
a:hover {
  transform: scaleX(-1); /* inverte a imagem horizontalmente */
  text-decoration: underline; /* aparece só no hover */
}

    
    

    
